
<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" type="image/x-icon" href="../static/IMG/favicon.ico"/>
  <title>Ibex Innovation - File Sorter</title>
    <link href='https://fonts.googleapis.com/css?family=Lobster|Open+Sans:400,400italic,300italic,300|Raleway:300,400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../static/CSS/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/JS/loadingBar.js"></script>
		<script>

            $(document).ajaxSuccess(function(event, request, settings) {
                if (request.getResponseHeader('REQUIRES_AUTH') === '1') {
                   window.location = '/finished';
                }
            });








            $(document).ready(function(){
        $("#startBtn").fadeOut();
        $("#progressBar").fadeOut();
        $("#cancelBtn").fadeOut();
        $("#selectBtn").click(function(){
          $("#selectBtn").fadeOut();
          $("#fileid").click();
          $("#startBtn").fadeIn();
        });
        $("#startBtn").click(function(){
          $("#startBtn").fadeOut();
          $("#fileidsubmit").click();
          $("#cancelBtn").fadeIn();
          $("#progressBar").fadeIn();
          $("#cancelBtn").click(function(){
          var confirmation = confirm("Are you sure?");
          if (confirmation == true){
            var progress = "fail";
          }
          });         
        });        
      });
    </script> 



</head>

<body>

<div class="content">
      <div class="container wow fadeInUp delay-03s">
        <div class="row">
          <div class="logo">
            <img src="../static/IMG/logo.png" alt="logo" width="150">
            <h1><strong>File Sorter</strong></h1>
          </div>

          <div align="center">
          <button id="selectBtn" class="btn">Select Folder</button>
          <button id="startBtn" class="btn">Start</button>	
          </div><br>

            <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0"
            aria-valuemin="0" aria-valuemax="100" style="width:0%">
              0%
            </div>



          
          <div class="row" align="center" style="display: none;">
    		
          	      <form action = "http://localhost:69/finished" method="POST" enctype="multipart/form-data">
			         <input id='fileid' type="file" name="file[]" multiple />
			         <input id='fileidsubmit' type="submit"/>
					 <ul id="fileOutput"></ul>
			      </form>
  		  

  		    </div>



        </div>
                  <button id="cancelBtn" class="btn">Cancel</button>

        
      </div>
</div>



</body>
</html>



















