
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="../static/IMG/favicon.ico"/>
    <title>Ibex Innovation - File Sorter</title>
    <link href='https://fonts.googleapis.com/css?family=Lobster|Open+Sans:400,400italic,300italic,300|Raleway:300,400,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/CSS/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/JS/loadingBar.js"></script>
		<script>
        $(document).ajaxSuccess(function(event, request, settings) {
          if (request.getResponseHeader('REQUIRES_AUTH') === '1') {
              window.location = '/finished';
          }
        });
        $(document).ready(function(){
          $("#cancelMessage").fadeOut();
          $("#startBtn").fadeOut();
          $("#progressBar").fadeOut();
          $("#cancelBtn").fadeOut();          
          $("#exitBtn").fadeIn();
          $("#exitBtn").click(function(){
            confirm("Are you sure?");
            if (true) { 
              alert("Close this tab.");             
              window.location = '/close';
            }
          })
          $("#selectBtn").click(function(){
          $("#selectBtn").fadeOut();
          $("#fileid").click();
          $("#startBtn").fadeIn();          
          });
          $("#startBtn").click(function(){
          $("#startBtn").fadeOut();
          $("#exitBtn").fadeOut();
          $("#fileidsubmit").click();
          $("#cancelBtn").fadeIn();
          $("#progressBar").fadeIn();
          $("#progressBar").hover(function() {
            $( this ).fadeOut( 100 );
            $( this ).fadeIn( 500 );
          });
          $("#cancelBtn").click(function(){
            confirm("Are you sure?");
            if (true) {
              $("#cancelMessage").fadeIn();
              $("#cancelBtn").fadeOut();
              $("#progressBar").fadeOut();
              window.location = '/';
            }   
          });         
        });        
      });
    </script> 
</head>
<body>
<div class="content">
      <div class="container">        
          <div class="logo">
            <img src="../static/IMG/logo.png" alt="logo" width="150">
            <h1><strong>File Sorter</strong></h1>
          </div>
          <div align="center">
          <h1 id="cancelMessage"><strong>Cancellation under progress. Please wait to be redirected.</h1>
          <button id="selectBtn" class="btn">Select Folder</button>
          <button id="startBtn" class="btn">Start</button>	
          </div><br>
          <div id="progressBar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0"
            aria-valuemin="0" aria-valuemax="100" style="width:0px; font-family: 'Audiowide', cursive; font-size: 40px; height: 30px; border-radius: 15px;">
              0%
          </div><br><br><br>
          <button id="cancelBtn" class="btn" style="font-size: 10px; width: 60px;"><img src="../static/IMG/cancel.png" width="20px"></button>                   
          <div class="row" align="center" style="display: none;">    		
          	<form action = "http://localhost:69/finished" method="POST" enctype="multipart/form-data">
			         <input id='fileid' type="file" name="file[]" multiple />
			         <input id='fileidsubmit' type="submit"/>
					     <ul id="fileOutput"></ul>
			      </form>
  		    </div>
          <button id="exitBtn" class="btn">Exit</button>                     
      </div>
</div>
</body>
</html>



















